extends layout/layout

block content
	section#slider
	section#apps
		p Apps page comes here
	section#eventos
		p Eventos page comes here
	section#contacto
		p contacto page comes here
	section#sobre
		p Sobre nos page comes here
