doctype html
html
	head
		title Entrar - MozDevz
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel="stylesheet", href="/css/style.css")
	body
		.container
			.row
				.col-xs-12.text-center
					h3.text-center Bem vindo a comunidade
				.clearfix
				
				.auth
					.login-container.col-md-12
						form(action="/signup", method="POST")
							.header-container.text-center
								h3 Registar	
							.fields-container

								.input-field.col-sm-12
									label.col-xs-12.control-label(for="name") Nome completo
									.col-xs-12
										input.form-control(id="name", name="name", type="text", required)

								.input-field.col-sm-12
									label.col-xs-12.control-label(for="email") Email
									.col-xs-12
										input.form-control(id="email", name="email", type="text", required)
									
								.input-field.col-sm-12
									label.col-xs-12.control-label(for="password") Senha
									.col-xs-12
										input.form-control(id="password", name="password", type="password", required)
									
								.col-xs-12.text-right
									.col-xs-12
										button.btn.btn-default(type="submit") Registar
					.col-md-12
						a(href="/") Voltar a MozDevz.org
					.clearfix


		script(src="/js/jquery-1.11.2.min.js")
		script(src="/js/bootstrap/bootstrap.min.js")